
body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 10px;
    gap: 10px;
}

.hright a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    color: #F9FAF8;
}

.main {
    display: flex;
    justify-content: center;
    padding: 90px;
    margin: 10px;
}


.left {
    flex-basis: 400px;
    padding: 20px;
    text-align: left;
    margin-right: 20px;
}

.right {
    padding: 20px;
    height: 350px;
    width: 500px;

}


.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

button {
    background-color: #3882F6;
    color: F9FAF8;
    border: none;
    padding: 5px 20px;
    border-radius: 12px;
}

.random {
    text-align: center;
}

.info {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.illu {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;

}
.box {
    width: 150px;
    margin: 20px;
    justify-content: center;
    font-size: 10px;

}

.one {
    width: 150px;
    height: 150px;
    background-color: F9FAF8;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.quotes {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 50px 100px;
}

.blue {
    background-color: #3882F6;
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    border-radius: 12px;
    text-align: left;
}

.call {
    display: block;
    color: #E5E7EB;
    width: 400px;
    padding: 0 30px;
}

.but2 {
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 12px;
    margin: 20px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px;
    text-align: center;
}